.order {
    background-color: rgb(233, 171, 55);

}

.rating{
    background-color: rgb(226, 192, 128);
}

.origin{
    background-color: rgb(233, 171, 55);
}

.genre{
    background-color: rgb(226, 192, 128);
}